html, body {
    height: 100% !important;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EEE
}

html * {
    font-family: 'Open Sans', sans-serif;
}

.content {
    box-sizing: border-box;
    height: auto !important;
    max-width: 800px;
    min-height: 100%;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #FFF;
    text-align: justify;
}
